<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--&lt;!&ndash;            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>&ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{userID} - %X{CorrectionId}] [%p] %c : %m%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="debug">-->
<!--        <appender-ref ref="jsonConsoleAppender"/>-->
<!--    </root>-->
<!--</configuration>-->

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{userID} - %X{correctionId}] [%p] %c : %m%n</pattern>        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>